/* Task2 */
table {
  border-collapse: collapse;
  width: 400px;
  height: 200px;
}

td {
  border: 5px solid #000;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}
